<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <title>Sign In</title>
</head>
<body>
  <header class="header-top">
    <div class="header_top">
      <div class="container">
        <div class="header_contacts">
          <a class="header_phone" href="tel:380646592314">+38 (064) 659 23 14</a>
          <a class="header_email" href="#">email@gmail.com</a>
          <p class="header-name">AUGUST</p>  
        </div>
      </div>
    </div>
  </header>
<div>
<div class="grey-darken-1-empty-layout">
<form class="card-auth-card">
  <div class="card-content">
    <h3 class="card-title">Особистий кабінет адміністратора</h3>
  <div class="inputs">
    <div class="input-field">
      <input id="email" type="text" class="validate" placeholder="Email"> <label class="temail" for="email">Email</label>
    </div>

    <div class="input-field">
      <input id="password" type="password" class="validate" placeholder="Password"> <label class="temail" for="password">Пароль</label>
    </div>
  </div>
</div>
  <div class="card-action">
    <div>
      <button class="submit" type="submit">
        Увійти
      </button>
    </div>
  </div>
</form>

</div>
</div>
</body>
</html> 