<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reserve</title>
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <header class="header-top">
    <div class="header_top">
      <div class="container">
        <div class="header_contacts">
          <a class="header_phone" href="tel:380646592314">+38 (064) 659 23 14</a>
          <a class="header_email" href="#">email@gmail.com</a>
          <p class="header-name">AUGUST</p>  
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="user">USER</div>
    <form method="post" action="" class="subform">
      <h2>Забронювати столик </h2>
      <p>
          <label for="name">Вкажіть ім'я:</label>
          <input type="text" name="name" id="name">
      </p>
      <p>
          <label for="email">Вкажіть свій email:</label>
          <input type="email" name="email" id="email-reserve">
      </p>
      <p>
        <label for="phone">Вкажіть свій номер телефону:</label>
        <input type="phone" name="phone" id="phone">
      </p>
      <p>
        <label for="date">Оберіть дату:</label>
        <input type="date" name="date" id="date">
      </p>
      <p>
        <label for="time">Оберіть час:</label>
        <input type="time" name="time" id="time">
      </p>
      <p>
        <label for="people">Кількість людей:</label>
        <input type="number" name="people" id="people">
      </p>
      <p>
        <label for="call">Передзвонити?:</label>
        <input type="checkbox" name="call" id="call">
      </p>
      <p>
          <label for="area">Побажання:</label>
          <textarea name="text" id="area" cols="30" rows="5"></textarea>
      </p>
      <p>
          <input type="submit" name="submit" value="Надіслати" id="submit"><br>
      </p>
  </form>
</div>
<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="footer-inner">
      <div class="footer-info">
        <div class="footer-title">
          Ресторан "August"
        </div>
        <div class="footer-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nesciunt 
          voluptatibus nulla voluptas, ad repellendus ipsum, labore voluptate delectus 
          quos soluta blanditiis dignissimos sit? Consectetur molestiae incidunt consequuntur 
          maiores quia!
        </div>
        <p class="footer-name">AUGUST</p>
        <ul class="footer-list">
          <li><a class="footer-phone" href="tel:380640252356">+38 (064) 025 23 56</a></li>
          <li><a class="footer-email" href="#">email@gmail.com</a></li>
          <li><a class="footer-address" href="#">Київ, вул. Теодори Пушиної, 19</a></li>
        </ul>
      </div>
      <div class="footer-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1188115125215!2d30.364817199999997!3d50.4575122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc9109be261f%3A0x497b61b352c5af50!2z0YPQuy4g0KTQtdC-0LTQvtGA0Ysg0J_Rg9GI0LjQvdC-0LksIDE5LCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1668634641654!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      </div>
    </div>
  </div>
  <div class="footer-copy">
    <div class="container">
      <div class="copy-text">
        2022 Template by Author
      </div>
    </div>
  </div>
</footer>
</body>
</html>